* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url('wave.svg') no-repeat bottom rgb(28,28,28);
}

header {
    margin: 10px;
    display: flex;
}

.logo {
    color: #00a2ff;
    font-weight: 800;
    font-size: 40px;
}

nav {
    flex: 1;
    margin-top: 16px;
    margin-left: 20px;
}

.nav {
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}

.nav:hover {
    opacity: 0.8;
    cursor: pointer;
}

.spacer {
    flex-grow: 1;
}

.right {
    text-align: right;
}

content {
    display: block;
    text-align: center;
    margin-top: 5%;
}

content div {
    flex: 1;
    margin: 0 auto;
    color: white;
    max-width: 500px;
}

.face {
    border-radius: 50%;
    width: 75px;
    margin-bottom: 15px;
}

.name {
    color: white;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 15px;
    display: block;
}

.description {
    color: #00a2ff;
    font-weight: 800;
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
}

.button {
    background: #00a2ff;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 20px 120px 0 120px;
    font-weight: 800;
    display: block;
    user-select: none; 
}

.textbutton {
    float: left;
    line-height: 35px;
    margin-left: 10px;
}

.svg {
    float: left;
    width: 40px;
}

.buttoncontent {
    width: 250px;
    margin: 0 auto;
    text-align: center;
}

a {
    text-decoration: none;
}

h2 {
    margin: 2px;
}

ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
}

li {
    border-bottom: solid 2px grey;
    padding: 10px;
}

.commandes {
    background: rgb(42,42,42);
    max-width: 1000px;
    margin: 20px auto;
    min-height: 100px;
    padding: 20px;
    text-align: left;
}

li {
    display: flex;
}

li b {
    width: 170px;
}
